/* Общие стили */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Стили для заголовка */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: #f8f9fa;
    background-attachment: fixed;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.text-content {
    max-width: 600px;
    margin: 0 20px;
    text-align: center;
}

.header-content h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color: #333;
}

.header-content p {
    font-size: 1.5em;
    color: #666;
}

.cta-button,
.cta-button-next {
    background-color: #e5ffcc;
    border: 2px solid #333;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover,
.cta-button-next:hover {
    background-color: #d4ff99;
    color: #000;
}

.popup-link {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.popup-link:hover {
    color: #1976d2;
}

/* Фон с фиксированным прикреплением для каждой секции */
.header-section {
    background-color: #f8f9fa;
    /* Замените на ваш цвет */
    background-attachment: fixed;
}

.next-page {
    background-color: #e0f7fa;
    /* Замените на ваш цвет */
    background-attachment: fixed;
    padding: 50px 20px;
    text-align: center;
}

.third-page {
    background-color: #ffe4e1;
    /* Замените на ваш цвет */
    background-attachment: fixed;
    padding: 50px 20px;
    text-align: center;
}

.fourth-page {
    background-color: #333;
    /* Замените на ваш цвет */
    background-attachment: fixed;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.fifth-page {
    background-color: #fff;
    /* Замените на ваш цвет */
    background-attachment: fixed;
    padding: 50px 20px;
    text-align: center;
}

.sixth-page {
    background-color: #f0e68c;
    /* Замените на ваш цвет */
    background-attachment: fixed;
    padding: 50px 20px;
    text-align: center;
}

/* Структура содержимого */
.next-content,
.third-content,
.fourth-content,
.fifth-content,
.sixth-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.left-text,
.third-text,
.fourth-text,
.fifth-content .stats,
.sixth-content .text-content {
    width: 45%;
    text-align: left;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stat {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid #e0f7fa;
}

.stat h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000;
}

.stat p {
    font-size: 1.2em;
    color: #666;
}

/* Медиа-запросы для мобильных устройств */
@media only screen and (max-width: 768px) {

    .header-content,
    .next-content,
    .third-content,
    .fourth-content,
    .fifth-content,
    .sixth-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-text,
    .third-text,
    .fourth-text,
    .fifth-content .stats,
    .sixth-content .text-content {
        width: 100%;
        text-align: center;
    }

    .image-content img {
        width: 100%;
        height: auto;
    }

    .stats {
        width: 100%;
        align-items: center;
    }

    .cta-button-next {
        margin-top: 20px;
    }

    .popup-content {
        width: 90%;
    }
}

/* Стили для всплывающих окон */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.popup-content h2 {
    margin-top: 0;
}

.close-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    align-self: flex-end;
}

.footer-content {
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.whatsapp-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #25d366;
}

.whatsapp-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.popup-link.white {
    color: #fff;
}
